@import '../../../mixinsAndTemplates.scss';



.to-do-list__task {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 10px;

    .my-input-change-title {
        max-width: 214px;
    }
}

.task {
    //button visible menu
    @keyframes visibleDisabled {
        from {
            opacity: 1;
            transform: rotate(0deg);
            width: 27px;
            height: 27px;
        }
        to {
            opacity: 0;
            transform: rotate(360deg);
            width: 0px;
            height: 0px;
        }
    }

    @keyframes visibleActive {
        from {
            opacity: 0;
            transform: rotate(360deg);
            width: 0px;
            height: 0px;
        }
        to {
            opacity: 1;
            transform: rotate(0deg);
            width: 27px;
            height: 27px;
        }
    }
    
    &__open-menu-button_visible {
        @include backgroundImageWithProps(27px, '../../../images/OpenMenu.svg', 36px);
        margin-left: 15px;
        animation: visibleActive 1s linear;
    }

    &__open-menu-button_invisible{
        @include backgroundImageWithProps(27px, '../../../images/OpenMenu.svg', 36px);
        animation: visibleDisabled 1s linear forwards;
        visibility: hidden;
        transition: visibility 1s;
    }

    &__menu_invisible {
        display: none;
    }

    &__menu_visible {
        display: flex;
        justify-content: space-between;
        width: 140px;
        margin-left: 15px;
    }

    &__change-button {
        @include backgroundImageWithProps(32px, '../../../images/ChangeTitle.svg', 31px);
    }

    &__important-button {
        @include backgroundImageWithProps(32px, '../../../images/ImportantTitle.svg', 36px);
    }

    &__remove-button {
        @include backgroundImageWithProps(32px, '../../../images/Remove.svg', 33px);
    }

    &__title {
        max-width: 85%;
        word-break: break-all;
        color: #14FE00;
        transition: all 0.5s linear;
    }

    &__title_completed {
        color: #086500;
        transition: color 0.5s linear;
    }

    &__title_important {
        text-shadow: 0 0 6px #ecb900;
        transition: text-shadow 0.5s linear;
    }
}